.expand-font-size{
    font-size: 11px;
    background: #ffffff9c;
}

.expand-font-size-small{
    margin-bottom: 15px;
    background: #ffffff9c;
}

.bold{
    font-weight: bold;
}

.normal-screen{
    display: contents;
}

.small-screen{
    display: none;
}

@media only screen and (max-width: 760px) {

    .normal-screen{
        display: none;
    }
    
    .small-screen{
        display: contents;
    }
}