<app-header-tab></app-header-tab>
<div class="row no-gutters">
    <div class="col-md-12">
        <div class="card-body">
            <h3 class="card-title" style="text-decoration: underline;text-align: center;">
                Work Experience
            </h3>
        </div>
    </div>
</div>

<div class="card">
    <div class="row no-gutters" style="border: 1px solid;">
        <div class="col-md-4" style="text-align: center;">
            <img src="assets/img/logo/hclLogo.png" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action list-group-item-primary summary-font">
                        Senior Developer at HCL Technologies Ltd. Chennai, Tamil Nadu, India
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item-info summary-font">
                        September 13, 2018 - Present
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters" style="border: 1px solid;">
        <div class="col-md-4" style="text-align: center;">
            <img src="assets/img/logo/fssLogo.png" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action list-group-item-primary summary-font">
                        Former Software Engineer at Financial Software & Systems (P) Ltd. Chennai, Tamil Nadu, India
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item-info summary-font">
                        August 10, 2015 - September 12, 2018
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters" style="border: 1px solid;">
        <div class="col-md-12">
            <div class="card-body">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action list-group-item-secondary summary-font">
                        Design, Development and Testing of Application wrt UI and business logic
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item-success summary-font">
                        Actively involved in CR document discussions and client meetings.

                    </a>
                    <a class="list-group-item list-group-item-action list-group-item-danger summary-font">
                        Involved in production support and enhancements.
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item-warning summary-font">
                        Provided extensive support for production process, issue fixing and client change request.
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>