<app-header-tab></app-header-tab>
<!-- <div class="flex-container">
  <div style="text-align: center;" *ngFor="let image of imageList">
    <img src="{{image}}" alt="...">
  </div>
</div>
 -->

<div class="row no-gutters">
  <div class="col-md-12">
    <div class="card-body">
      <h3 class="card-title" style="text-decoration: underline;text-align: center;">
        Happy Clients, I Worked with
      </h3>
    </div>
  </div>
</div>

<p-carousel [value]="products" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true"
  [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
  <ng-template let-product pTemplate="item">
    <div class="product-item">
      <div class="product-item-content">
        <div class="p-mb-3">
          <img src="{{product}}" class="product-image" />
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>