<app-header-tab></app-header-tab>
<div class="card" style="padding: 1.25rem;">
    <div class="row no-gutters">
        <div class="col-md-6" style="text-align: center;">
            <img src="assets/img/pictures/personal.jpg" alt="...">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <p class="card-title">
                    HELLO EVERYBODY, I AM
                </p>
                <h3 class="card-title">
                    KURNOOL MOHAMMAD MUJAHID
                </h3>
                <h5 class="card-title">
                    Senior Developer
                </h5>
                <p class="card-title">
                    I am Strong team builder and leader. I have high level of personal morals and integrity. I am Goal
                    oriented, self-motivated and committed to the successful outcome of the project.
                </p>
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th><i class="pi pi-calendar-plus" style="font-size: 1rem;color: #2196f3;"></i></th>
                            <td>06 August, 1994</td>
                        </tr>
                        <tr>
                            <th><i class="pi pi-phone" style="font-size: 1rem;color: #2196f3;"></i></th>
                            <td>+91-9941975282, 9030951388</td>
                        </tr>
                        <tr>
                            <th><i class="pi pi-envelope" style="font-size: 1rem;color: #2196f3;"></i></th>
                            <td>mujahidkm828@gmail.com</td>
                        </tr>
                        <tr>
                            <th><i class="pi pi-home" style="font-size: 1rem;color: #2196f3;"></i></th>
                            <td>Chennai, Tamilnadu 603103</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>