<app-header-tab></app-header-tab>
<div class="card">
    <div class="row no-gutters">
        <div class="col-md-4" style="text-align: center;">
            <img style="width: 367px;" src="assets/img/pictures/Profile.jpg" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title" style="text-decoration: underline;text-align: center;">KURNOOL MOHAMMAD MUJAHID
                </h3>
                <h5 class="card-title" style="text-decoration: underline;text-align: center;">Senior Developer</h5>
                <div class="list-group">
                    <a class="list-group-item list-group-item-action list-group-item-primary summary-font">
                        {{display}}
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item-info summary-font">
                        Possess rich experience in Analysis, Development, Production Support, Testing and Implementation
                        of projects.
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item-secondary summary-font">
                        Currently working as Senior Developer at HCL Technologies Ltd
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item-success summary-font">
                        Good knowledge in banking, insurance domain
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item-danger summary-font">
                        Capable of handling overseas customers by providing end-to-end solution and support like Product
                        Presentation, Product Demonstration, gathering requirement, analysis.
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item-warning summary-font">
                        Extensively performed in Issue Analyzing, Solving and Performance Tuning.
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item-info summary-font">
                        Capable of working at great pressures and tight deadlines, commitment towards assignments, hard
                        working with a quest and zeal to learn new technologies.
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item-success summary-font">
                        Possesses good communication skills, good analytical and problem solving skills.
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>